#<IfModule mod_rewrite.c>
#	#rewrite rules for appfog
#    Options -MultiViews
#    RewriteEngine On
#    RewriteCond %{HTTP_HOST} ^kseniap.eu01.aws.af.cm$ [NC,OR]
#	RewriteCond %{HTTP_HOST} ^www.kseniap.eu01.aws.af.cm$
#    #RewriteBase /public
#    #RewriteCond %{REQUEST_FILENAME} !-f
#    #RewriteRule ^ public/index.php [QSA,L]
#    RewriteCond %{REQUEST_URI} !public/
#    RewriteRule (.*) /public/$1 [L]
#</IfModule>