{% extends 'layout.twig' %}
{% block content %}
    <div class="row">
        <h2>Latest projects</h2>
    </div>
    <section class="row">
        {% for project in projects %}
            <article>
                <header class="lead">{{ project.title }}</header>
                <div class="row">
                    {% for image in project.images %}
                    <div class="col-xs-3">
                        <figure class="thumbnail">
                            <img style="height:150px;" src="{{ path('image_load',{projectId:project.id,imageId:image.id}) }}" alt="{{ image.title }}"/>
                        </figure>
                    </div>
                    {% endfor %}
                </div>
            </article>
        {% endfor %}
    </section>

{% endblock %}