{% extends 'layout.twig' %}
{% block content %}
<main id="main"></main>
{% endblock %}
{% block scripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/static/public/javascript/jquery.observable.min.js"></script>
<script src="/static/public/javascript/index.js"></script>
{% endblock %}