<!doctype html>
<html lang='{{ app.locale }}'>
<head>
    <title>{{ app.ksu.title }}</title>
    {% block metas %}
        <meta charset='UTF-8'/>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'/>
        <meta name='viewport' content='width=device-width, initial-scale=1'/>
    {% endblock %}
    {% block styles %}
    {% endblock %}
</head>
<body>
<noscript>Please Enable Javascript to view this webpage!
</noscript>
{% block scripts %}
{% endblock %}
</body>
</html>
