<nav class="navbar navbar-inverse">
    <div class="container">
        <section class="navbar-header">
            <a class="navbar-brand" href="/">{{ app.ksu.title | upper }}</a>
        </section>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Home</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Clients</a></li>
            <li><a href="#">About me</a></li>
        </ul>
        p
    </div>
</nav>