<section class="gallery">
    <section id="gallery" class="container" style="display: block;">
        <figure style="display: block;"><img src="{{ path('image_load',{imageId:image.id,extension:image.extension}) }}"></figure>
        <div class="controls">
            <button class="previous"></button>
            <button class="next"></button>
        </div>
        <!-- SUMMARY-->
        <details id="detail" class="summary" open="" style="display: block;">
            <summary><h4 class="inline primary">{{ image.title }}</h4></summary>
            <hr>
            <p> Project: <a href="{{ path('project',{projectId:image.project.id}) }}">текстиль</a><br> Client: {{ image.project.client }}<br>
            </p></details>
    </section>
</section>