{% extends 'noscript/layout.twig' %}
{% block content_noscript %}
    {% include 'noscript/gallery.twig' with {image:image} %}
    <section class="resource">
        <div id="page" class="container" style="display: block;">
            {% include 'noscript/thumbnails.twig' with {images:images} only %}
            <div class="space">&nbsp;</div>
        </div>
    </section>
{% endblock %}