{% extends 'noscript/layout.twig' %}

{% block opengraph %}
    {{ parent() }}
{% endblock %}
{% block content_noscript %}
    {% include 'noscript/gallery.twig' with {image:image} %}
    <section class="resource">
        <div class="project container">
            <h2 class="primary inline">{{ project.title }}</h2>
            {% include 'noscript/thumbnails.twig' with {images:project.images} only %}
            <div>
                <pre>{{ project.description }}</pre>
            </div>
            <div class="space">&nbsp;</div>
        </div>
    </section>
{% endblock %}